@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@300;500;600&family=Outfit:wght@300;400;600&display=swap');

:root {
  --vermelho: #e50914;
  --preto: #141414;
  --branco: white;

  --fonte-titulo: 'Outfit', sans-serif;
  --fonte-paragrafo: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto);
  color: var(--branco);
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonte-titulo);
}

p {
  font-family: var(--fonte-paragrafo);
}

/* ---------------------- NAV BAR --------------------*/

header {
  position: fixed;
  height: 10%;
  z-index: 2;
  width: 100%;
}

header .container {
  display: flex;
  overflow: auto;
  padding: 2rem;
  width: 102%;
  background-color: transparent;
  margin-top: -1rem;
  height: 126%;
  transition: all 0.3s linear;
}

header .logo {
  height: 1.5rem;
  margin-left: 1rem;
}

header .navegacao {
  margin-top: 0.3rem;
  margin-left: 10rem;
  position: fixed;
}

header nav spam {
  font-weight: 600;
}

header nav a {
  width: 20rem;
  margin-left: 0.8rem;

  color: white;
  font-family: var(--fonte-titulo);
  font-weight: 100;
  font-size: 0.95rem;
}

header .lupa {
  margin-top: 0.1rem;
  cursor: pointer;
  width: 1.5rem;
  height: 200%;
}

header .ligada {
  height: 80%;
  width: 12%;
}

header .linha {
  opacity: 0%;
  height: 0%;
  border: 1px solid white;
  margin-left: 0.4rem;
}

header .ativada {
  opacity: 100%;
  height: 100%;
  border: 1px solid white;
  margin-left: 0.4rem;
  transition: all 0.5s;
}

header .pesquisa {
  width: 0rem;
  margin-left: 72rem;
  display: flex;
  padding: 0.2rem;
}

header .ativa {
  width: 15%;
  height: 200%;
  border: 2px solid white;
  margin-left: 60rem;
  display: flex;
  padding: 0.2rem;
  transition: all 0.3s linear;
}

header .input {
  width: 0%;
  height: 0%;
  margin-left: 0.3rem;
  border: none;
  outline: none;
  background-color: #14141400;
  color: var(--branco);
}

header .input::placeholder {
  color: var(--branco);
}

header .ativo {
  width: 100%;
  height: 100%;
  margin-left: 0.3rem;
  border: none;
  outline: none;
  color: var(--branco);
  transition: all 0.5s;
}

/* --------------------- MAIN-MOVIE -----------------*/

main .main-movie {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) 100%),
    url(../img/capa-homem-aranha.jpg);

  height: 45rem;
  width: 100%;

  background-size: cover;
  box-shadow: inset 0px -40px 30px 0px var(--preto);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .container {
  margin-top: 20%;
  margin-left: 3rem;
}

.main-movie .title {
  width: 40%;
  margin-bottom: 3%;
  margin-left: -1.5%;
}

.main-movie .assistir {
  text-align: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;

  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  width: 8rem;
  height: 2.5rem;

  background-color: var(--branco);
  backdrop-filter: 10px;

  font-size: 100%;
  font-weight: 600;
  font-family: var(--fonte-paragrafo);

  border: none;
  border-radius: 0.3rem;
}

.main-movie .assistir:hover {
  background-color: rgba(255, 255, 255, 0.316);
  transition: all 0.3s linear;
  color: var(--branco);
}

.main-movie .fa-play {
  font-size: 140%;
  margin-right: 10%;
}

.main-movie .info {
  text-align: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;

  padding: 0.4rem 0.8rem 0.4rem 1rem;
  height: 2.5rem;
  width: 13rem;
  margin-left: 1rem;

  background-color: rgba(0, 0, 0, 0.234);
  backdrop-filter: blur(10px);

  color: var(--branco);
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--fonte-paragrafo);

  border: none;
  border-radius: 0.3rem;
}

.main-movie .info:hover {
  background-color: rgba(255, 255, 255, 0.316);
  transition: all 0.3s linear;
}

.main-movie .fa-info-circle {
  margin-right: 0.6rem;
  font-size: 1.5rem;
}

body {
  height: 200rem;
}
/* ------------------ CARROSSEL FILMES -------------------*/

.carrossel-filmes .box-filme {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 1.5%;
}

.carrossel-filmes {
  margin-top: -5%;
  margin-bottom: 2%;
}

.carrossel-filmes .item {
  height: 80%;
  width: 80%;
}

.carrossel-filmes .filmes-titulo {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}

/* ------------------ CARROSSEL SÉRIES -------------------*/

.carrossel-series .series-titulo {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}

.carrossel-series .box-series {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 1.5%;
}

.carrossel-series .item {
  height: 80%;
  width: 80%;
}

.item {
  cursor: pointer;
}

/* ------------------ POP UP INFO HEADER -------------------*/

.popup-wraper {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: -55%;
  box-sizing: border-box;
  z-index: 2;

  width: 100%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.5s linear;
}

.popup {
  background: var(--preto);
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  margin-top: 7.5%;
}

.popup .header {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) 100%),
    url(../img/capa-homem-aranha.jpg);
  background-size: cover;
  border-radius: 1%;

  width: 100%;
  height: 45%;

  box-shadow: inset 0px -40px 30px 0px var(--preto);
}
.popup .conteudo-header {
  margin-top: 24%;
  padding: 5%;
}

.popup .assistir {
  text-align: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;

  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  width: 8rem;
  height: 2.5rem;

  background-color: var(--branco);
  backdrop-filter: 10px;

  font-size: 100%;
  font-weight: 600;
  font-family: var(--fonte-paragrafo);

  border: none;
  border-radius: 0.3rem;
}

.popup .assistir:hover {
  background-color: rgba(255, 255, 255, 0.316);
  transition: all 0.3s linear;
  color: var(--branco);
}

.popup .fa-play {
  font-size: 140%;
  margin-right: 10%;
}

.popup .botoes-poup {
  margin-top: 3%;
  display: flex;
}

.popup .botoes-poup button {
  margin-right: 1%;
}

.popup .redondo {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.857);
  background-color: rgba(0, 0, 0, 0.234);

  font-size: 110%;
  width: 5%;

  border-radius: 50%;
  border-style: none;
  border: 2px solid rgba(255, 255, 255, 0.568);
}

.popup .redondo:hover {
  border: 2px solid var(--branco);
  transition: all 0.2s linear;
}

.popup .close {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.857);
  background-color: rgba(0, 0, 0, 0.802);

  font-size: 110%;
  padding: 0.65%;
  width: 3%;
  height: 3.3%;

  border-radius: 50%;
  border-style: none;

  position: absolute;
  margin-top: -17%;
  margin-left: 56.5%;
}

.popup .titulo-popup {
  width: 48%;
  margin-left: -2.3%;
  margin-bottom: 1%;
}

/* ------------------ POP UP INFO BODY -------------------*/

.popup .conteudo-info {
  display: flex;
  padding: 2% 5%;

  line-height: 150%;
}
.popup .descricao-info {
  width: 70%;
  margin-right: 5%;
  font-size: 110%;
}

.popup .descricao-info .relevancia {
  margin-bottom: 5%;

  font-size: 90%;
}

.popup .descricao-info .relevancia span {
  font-weight: bold;
  color: #41c462;
}

.popup .descricao-info .relevancia .hd {
  font-weight: lighter;
  font-size: 75%;
  color: var(--branco);

  border: 1px solid #747474;
  border-radius: 18%;

  padding: 0 1%;
}

.popup .descricao-info .relevancia .idade {
  width: 7%;
  margin-bottom: -2.5%;
}

.popup .elenco {
  width: 35%;
  font-size: 85%;
  flex-wrap: wrap;
}

.popup .elenco span {
  color: #606060;
}

.popup .elenco p {
  margin-bottom: 7%;
}

.popup .elenco a {
  color: var(--branco);
}

.popup .elenco a:hover {
  text-decoration: underline;
}

/* ------------------ POP UP TITULOS SEMELHANTES -------------------*/

.titulos-semelhantes {
  padding: 5%;
  margin-bottom: 2%;
}

.titulos-semelhantes .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.titulos-semelhantes .grid .card {
  background-color: #2f2f2f;

  margin-top: 2.5%;
  margin-right: 3.3%;
  width: 30%;
  height: 23.5rem;

  border-radius: 1.5%;
}

.titulos-semelhantes .card-header img {
  width: 100%;
  border-radius: 1.5% 1.5% 0 0;
}

.titulos-semelhantes .card .body {
  padding: 6%;
  margin-top: 10%;
}

.titulos-semelhantes .card .body h3 img {
  width: 20%;
  margin-bottom: -5.5%;
  margin-right: 2%;
}

.titulos-semelhantes .card .body h3 {
  font-weight: lighter;
  width: 100%;
}

.titulos-semelhantes .card .body .classificacao {
  display: flex;
  margin-bottom: 8%;
}

.titulos-semelhantes .card .body .redondo {
  width: 23%;
  height: 2.3rem;
}
.titulos-semelhantes .card .info-card {
  font-weight: lighter;
  font-size: 85%;
}
